/* You can add global styles to this file, and also import other style files */
:root {
  --navy-deep: #0D1F4E;
  --royal-blue: #1B4FD8;
  --electric-blue: #4C82FF;
  --steel-light: #EEF2FF;
  --white: #FFFFFF;
  --gray-text: #64748B;
  --white-error: #FEF2F2;
  --red-error: #DC2626;
  --danger: #EF4444;
  --danger-hover: #F87171;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}


/* ==================== CLASSES GLOBAIS =================== */

.errorMessage{
  background-color: var(--white-error);
  padding: 5px;
  color:var(--red-error);
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}